@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");
body {
  background-color: rgb(139, 135, 138);
  color: rgb(234, 239, 243);
  font-family: Verdana, sans-serif;
  font-weight: lighter;
  }

  .img-circle {
    border-radius: 100px;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card-white {
  background-color: rgb(53, 19, 151);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #02030e;
  font-weight: 600;
  font-size: 16px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
